extends layout

block content
    .container.mt-5
        br
        h1.mb-3.mt-5= title
        form(method="POST" action="/categories/add")
            .form-group.mt-2
                label(for='name') Bo'lim nomi
                input#name.form-control(type='text' name="name")
            .form-group
                label(for='icon') Font awesome klasini kiriting
                input#icon.form-control(type='text' name="icon")
            .form-group
                label(for='color') Rangi
                input#color.form-control(type='text' name="color")
            
            
            button.btn.btn-success.m-2(type='submit') Yaratish